/* -------------------------------------------------------------------------- */
/*                             Сетка для кард сета                            */
/* -------------------------------------------------------------------------- */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);

    &__item {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    }
}