// ==============================================
// сетка с флексбокс
// ================================================

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));

  // ==============================================
  // сетка с флексбокс
  // ================================================
}
// =============================================== переменные для сетки флекс в :root================================

// -----количество елементов сетки-------
//  --items: 3;
// -----количество елементов сетки/-------

// -----отступ между ел.-------
// --indent: 30px;
// -----отступ между ел./-------
// =============================================== переменные для сетки флекс в :root================================
