@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --hero-bcg-color: #ffb8ca;
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #fff5f6;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --text-color: #907e82;
  --items: 3;
  --indent: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "DM Sans";
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  background-color: var(--primary-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    gap: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 115px;
  }
}

.advantages__item {
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    max-width: 170px;
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: 270px;
    --items: 3;
  }
}

.advantages__icon-milk::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/milk-logo.png);
  background-repeat: no-repeat;
  background-position: -8px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__icon-milk::before {
    margin-bottom: 36px;
    background-position: 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-milk::before {
    margin-bottom: 40px;
    background-position: 0 0;
  }
}

.advantages__icon-heart::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/heart-logo.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__icon-heart::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-heart::before {
    margin-bottom: 40px;
  }
}

.advantages__icon-apples::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/apples-logo.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__icon-apples::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-apples::before {
    margin-bottom: 40px;
  }
}

.advantages__benefits-content {
  margin-bottom: 4px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__benefits-content {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__benefits-content {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.13;
  }
}

.advantages__benefits-paragraph {
  margin-bottom: 32px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__benefits-paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__benefits-paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}/*# sourceMappingURL=index.css.map */