@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --hero-bcg-color: #ffb8ca;
  --menu-bcg-color: #E17992;
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #fff5f6;
  --gallery-bcg-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --text-color: #907e82;
  --primary-btn-color: #ffffff;
  --primary-btn-hover: #ecebeb;
  --secondary-btn-color: #d41443;
  --secondary-btn-hover: #d41342;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "DM Sans";
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  background-color: var(--primary-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  height: 44px;
  padding: 11px 23px;
  border-radius: 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary {
  color: var(--accent-color);
  background-color: var(--primary-btn-color);
}
.btn-primary:hover {
  background-color: var(--primary-btn-hover);
}

.btn-secondary {
  color: var(--primary-text-color);
  background: var(--secondary-btn-color);
}
.btn-secondary:hover {
  background-color: var --secondary-btn-hover;
}

.btn-hero {
  padding: 12px 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  height: 24px;
  border-radius: 20px;
}
.btn-hero:not(:last-child) {
  margin-right: 8px;
}
.btn-hero__products:hover, .btn-hero__products:focus {
  opacity: 0.8;
}
@media screen and (min-width: 1200px) {
  .btn-hero {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    height: 40px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-header {
  position: relative;
  width: 100%;
  height: 502px;
  background-color: var(--hero-bcg-color);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero-header {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-header {
    height: 664px;
  }
}

.header__nav {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 32px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.19;
    padding: 25px 0;
    margin-right: 0;
  }
}
.header__btns {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 35px;
}

@media screen and (max-width: 1199px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 128px;
  }
}
.header__link {
  padding: 32px 0;
  font-weight: 700;
  color: var(--primary-text-color);
  transition: color 250ms linear;
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link--сurrent {
  padding: 32px 0;
  font-weight: 700;
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  color: var(--logo-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    margin-left: 293px;
  }
}

.mobile-menu-open {
  stroke: var(--accent-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .mobile-menu-open {
  stroke: #ffffff;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  color: var(--primary-text-color);
}

.mobile-menu-btn .mobile-menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn.is-open .mobile-menu-open {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(115%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--menu-bcg-color);
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 20px;
}

@media screen and (min-width: 320px) {
  .mobile-menu-nav {
    line-height: 1.18;
  }
}
.mobile-menu-nav .current-nav {
  color: var(--accent-color);
}

.mobile-menu-nav-item {
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: 1px solid #E18298;
}

.mobile-menu-nav-item:last-child {
  margin-bottom: 0;
}

.mobile-menu-nav-link {
  color: var(--primary-text-color);
  transition: color 250ms linear;
}
.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: var(--accent-color);
}

.contact__nav {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__nav {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__nav {
    margin-left: auto;
    gap: 30px;
  }
}
.contact__nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__nav__link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 0;
  }
}
.contact__nav__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__nav__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__nav__icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .btn-header {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .btn-header {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-header {
    margin-left: 141px;
  }
}

.btn-mobile-menu {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .btn-mobile-menu {
    margin-top: 58px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-mobile-menu {
    display: none;
  }
}

.hero-title {
  position: absolute;
  bottom: 40%;
  left: 5%;
  z-index: 6;
  width: 218px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.hero-title__current {
  font-size: 48px;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero-title__current {
    font-size: 34px;
    line-height: 0.88;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title__current {
    font-size: 58px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    bottom: 53%;
    width: 162px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 277px;
    font-size: 38px;
    left: 2%;
  }
}

.hero__elipse::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--secondary-accent-color);
}
@media screen and (max-width: 767px) {
  .hero__elipse::before {
    left: 9%;
  }
}
@media screen and (min-width: 768px) {
  .hero__elipse::before {
    width: 335px;
    height: 333px;
    right: 23%;
    top: 10%;
  }
}
@media screen and (min-width: 900px) {
  .hero__elipse::before {
    width: 400px;
    height: 400px;
    right: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__elipse::before {
    width: 534px;
    height: 534px;
    right: 14%;
    top: 11%;
  }
}

.hero__img {
  position: absolute;
  bottom: 0;
  left: 35%;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__img {
    width: 143px;
    height: 336px;
    left: 42%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    width: 236px;
    height: 557px;
    left: 52%;
  }
}

.hero-btn {
  position: absolute;
  bottom: 31%;
  left: 5%;
  z-index: 5;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero-btn {
    bottom: 43%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    left: 2%;
  }
}

.hero-btn__products {
  margin-right: 8px;
}

.hero__snap {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__snap {
    display: block;
    position: absolute;
    bottom: 4%;
    left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__snap {
    width: 213px;
    height: 216px;
    left: 2%;
  }
}

.hero__descr {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__descr {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 25%;
    z-index: 5;
    width: 121px;
    font-weight: 400;
    font-size: 7px;
    line-height: 1.5;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero__descr {
    width: 200px;
    left: 19%;
    font-size: 14px;
    line-height: 1.42;
  }
}

.hero__wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__wrap {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 25%;
    border-radius: 50%;
    background-color: var(--primary-text-color);
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: background-color 250ms linear, opacity 250ms linear;
  }
  .hero__wrap:hover, .hero__wrap:focus {
    background-color: var(--accent-color);
    opacity: 0.8;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrap {
    left: 19%;
    width: 30px;
    height: 30px;
  }
}

.hero__arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__arrow {
    display: block;
    position: absolute;
    bottom: 31%;
    left: 28%;
    fill: var(--accent-color);
    transition: fill 250ms linear;
  }
}
@media screen and (min-width: 1200px) {
  .hero__arrow {
    width: 15px;
    height: 15px;
    bottom: 28%;
  }
}

.hero__wrap:hover .hero__arrow {
  fill: var(--primary-text-color);
}

.hero-info {
  display: none;
}
@media screen and (min-width: 560px) {
  .hero-info {
    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--primary-text-color);
  }
  .hero-info__number {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 560px) and (min-width: 1200px) {
  .hero-info__number {
    font-size: 46px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 560px) {
  .hero-info--cafes, .hero-info--trucks {
    position: absolute;
    right: 4%;
    z-index: 6;
  }
}
@media screen and (min-width: 560px) {
  .hero-info--cafes {
    top: 25%;
    right: 4%;
  }
}
@media screen and (min-width: 560px) and (min-width: 768px) {
  .hero-info--cafes {
    right: 5.5%;
  }
}
@media screen and (min-width: 560px) and (min-width: 768px) {
  .hero-info--cafes {
    right: 2%;
  }
}
@media screen and (min-width: 560px) {
  .hero-info--trucks {
    top: 40%;
    right: 2%;
  }
}
@media screen and (min-width: 560px) and (min-width: 768px) {
  .hero-info--trucks {
    right: 0.5%;
  }
}
@media screen and (min-width: 560px) and (min-width: 1200px) {
  .hero-info--trucks {
    right: 2%;
  }
}

.hero-info__number--16::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 69%;
  bottom: 74%;
  z-index: -1;
  width: 16px;
  height: 16px;
  text-align: right;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero-info__number--16::before {
    width: 30px;
    height: 30px;
    bottom: 68%;
    left: 69%;
  }
}

.hero-info__number--23::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 56%;
  bottom: 75%;
  z-index: -1;
  width: 16px;
  height: 16px;
  text-align: right;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero-info__number--23::before {
    width: 30px;
    height: 30px;
    left: 72%;
    bottom: 64%;
  }
}

.hero__pic {
  display: none;
}
@media screen and (min-width: 560px) {
  .hero__pic {
    display: block;
    position: absolute;
    right: 3%;
    bottom: 0;
    z-index: 5;
  }
}
@media screen and (min-width: 768px) {
  .hero__pic {
    right: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__pic {
    width: 304px;
    height: 241px;
    right: 2%;
  }
}

.gallery {
  background-image: linear-gradient(to bottom, var(--secondary-bcg-color) 10%, var(--gallery-bcg-color) 90%);
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-template-rows: repeat(15, auto);
  grid-auto-flow: dense;
  min-width: 320px;
  padding: 0;
  gap: 2.5px;
}
@media screen and (min-width: 1030px) {
  .gallery__container {
    justify-content: center;
    align-items: center;
  }
}

.box {
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .box {
    border-radius: 20px;
  }
}

.gallery__box-1 {
  grid-column: 1/2;
  grid-row: 6/10;
}

.gallery__box-2 {
  grid-column: 3/4;
  grid-row: 5/8;
}

.gallery__box-3 {
  grid-column: 3/4;
  grid-row: 8/12;
}

.gallery__box-4 {
  grid-column: 5/7;
  grid-row: 1/10;
}

.gallery__box-5 {
  grid-column: 5/6;
  grid-row: 10/15;
}

.gallery__box-6 {
  grid-column: 7/8;
  grid-row: 5/9;
}

.gallery__box-7 {
  grid-column: 7/8;
  grid-row: 9/12;
}

.gallery__box-8 {
  grid-column: 9/10;
  grid-row: 4/7;
}

.gallery__box-9 {
  grid-column: 9/10;
  grid-row: 7/11;
}

.gallery__box-10 {
  grid-column: 11/12;
  grid-row: 6/10;
}

.customer-reviews {
  background-color: var(--primary-text-color);
}

.single-item {
  margin-left: 16px;
  margin-right: 16px;
}

.customers-reviews__img {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.customer-reviews__wrapper {
  background-color: #fafafa;
  padding: 30px 0 30px 0;
}

.customer-reviews__text::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 40px;
  margin-right: -13px;
  margin-left: -20px;
  margin-top: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/reviews/quotes.png");
}

.customer-reviews__text {
  margin-left: auto;
  margin-right: auto;
  width: 63%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 2.58;
  background: repeating-linear-gradient(#FAFAFA 0px, #FAFAFA 30px, #E1E1E1 30.01px, #E1E1E1 31px);
  transition: color 250ms linear;
}

.customer-reviews__info {
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}

.slick-dots {
  bottom: 35px;
}

.slick-dots li button:before {
  color: #C7133E;
}

.slick-dots li.slick-active button:before {
  color: #C7133E;
}

.customer-reviews__list {
  display: flex;
  justify-content: center;
}

.customer-reviews__item:not(:last-child) {
  margin-right: 18px;
}

.customer-reviews__item--home {
  fill: #D31342;
}

.customer-reviews__item--elipse {
  fill: #D9D9D9;
}

#slick-slide-control00::after,
#slick-slide-control01::after,
#slick-slide-control02::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-bottom: -75px;
}

.slick-dots li.slick-active #slick-slide-control00::after,
.slick-dots li.slick-active #slick-slide-control01::after,
.slick-dots li.slick-active #slick-slide-control02::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-bottom: -75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/reviews/home.svg");
  background-color: #ffffff;
  border-radius: 0;
}/*# sourceMappingURL=index.css.map */