:root {
  --accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --hero-bcg-color: #ffb8ca;
  --menu-bcg-color: #E17992;
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #fff5f6;
  --gallery-bcg-color: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --text-color: #907e82;
  --primary-btn-color: #ffffff;
  --primary-btn-hover: #ecebeb;
  --secondary-btn-color: #d41443;
  --secondary-btn-hover: #d41342;
}
