:root {
    --accent-color: #D41443;
    --secondary-accent-color: #FFA5BA;
    --hero-bcg-color: #FFB8CA;
    --primary-bcg-color: #E5E5E5;
    --secondary-bcg-color: #FFF5F6;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --text-color: #907E82;
    --white-btn-hover: #ECEBEB;
    --red-btn-hover:#C7133E;
}