<section class="section about" id="how">
  <div class="container about__container">
    <div class="about__titles">
      <p class="section-subtitle about__subtitle">tradition and love</p>
      <h2 class="section-title about__title">how it&#39;s made?</h2>
    </div>
    <div class="about__position">
      <div class="img-box">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/about/cow__desktop.png    1x,
              ./images/about/cow__desktop@2x.png 2x
            "
            type="image/jpg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about/cow__tablet.png    1x,
              ./images/about/cow__tablet@2x.png 2x
            "
            type="image/jpg"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about/cow__mobile.png    1x,
              ./images/about/cow__mobile@2x.png 2x
            "
            type="image/jpg"
          />

          <img
            class="about__img animate__animated animate__slideInLeft"
            src="./images/about/cow__mobile.png "
            alt="cow and milk"
          />
        </picture>
      </div>
      <div class="about__main-text">
        <p class="about__text">
          Ice cream is a sweety frozen food. It may be made from milk and is
          flavoured with sugar or an alternative, and a spice, such as cocoa /
          vanilla / fruit.
        </p>

        <p class="about__description">
          The mixture is cooled below the freezing point of water and stirred to
          incorporate air spaces and to prevent detectable ice crystals from
          forming. The result is a smooth, semi-solid foam that is solid at very
          low temperatures (below 2 °C or 35 °F).
        </p>
        <p class="about__paragraph">
          We make ice cream according to our own recipe.
        </p>

        <button class="button btn-primary" type="button">
          Read more
          <svg class="btn__arow-white" width="9" height="16">
            <use href="./images/icons.svg#icon-aroww-red"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
