<section class="section about-section">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it&#39;s made?</h2>
        <img class="about__img" src="./images/about/cow__mobile.png " alt="cow and milk">
        <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.
        </p>


        <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

        <pre>Aliquam erat volutpat. Aenean accumsan.</pre>

        </p>

        <button class="" type="button">Read more</button>
    </div>

</section>