<section class="advantages section">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list card-set list">
      <li class="advantages__item">
        <div class="advantages__icon-milk scale-up-center"></div>
        <p class="advantages__benefits-content">721</p>
        <p class="advantages__benefits-paragraph">
          We organized for children birthdays party in 2022.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-apples scale-up-center"></div>
        <p class="advantages__benefits-content">16kg</p>
        <p class="advantages__benefits-paragraph">
          Every day we sell up to 16 kg/hour of ice cream.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-heart scale-up-center"></div>
        <p class="advantages__benefits-content">84</p>
        <p class="advantages__benefits-paragraph">
          Kind of excellent ice scream for every taste.
        </p>
      </li>
    </ul>
  </div>
</section>
