<section class="advantages section">
  <div class="container container">
    <h2 class="visually-hidden"></h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon-milk"></div>
        <p class="advantages__benefits-content">721</p>
        <p class="advantages__benefits-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-apples"></div>
        <p class="advantages__benefits-content">16kg</p>
        <p class="advantages__benefits-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-heart"></div>
        <p class="advantages__benefits-content">84</p>
        <p class="advantages__benefits-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
