<section class="section contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts__boxes list card-set">
            <li class="contacts__item card-set__item">
                <p class="contacts__type--cafe">CAFE</p>
                <ul class="contacts__place list">
                    <li class="contacts__place--item">
                        <p class="contacts__city">Chicago</p>
                    </li>
                    <li class="contacts__place--item">
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__week list">
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Monday - Friday</li>
                            <li class="contacts__scheduled--time">06:00 AM - 10:00 PM</li>
                        </ul>
                    </li>
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Saturday - Sunday</li>
                            <li class="contacts__scheduled--time">08:00 AM - 16:00 PM</li>
                        </ul>
                    </li>
                </ul>
                <address class="contacts__address">
                    <ul class="contacts__address--list list">
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="contacts__item card-set__item">
                <p class="contacts__type--ft">FOODTRUCK</p>
                <ul class="contacts__place list">
                    <li class="contacts__place--item">
                        <p class="contacts__city">Los Angeles</p>
                    </li>
                    <li class="contacts__place--item">
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__week list">
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Monday - Friday</li>
                            <li class="contacts__scheduled--time">06:00 AM - 10:00 PM</li>
                        </ul>
                    </li>
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Saturday - Sunday</li>
                            <li class="contacts__scheduled--time">08:00 AM - 16:00 PM</li>
                        </ul>
                    </li>
                </ul>
                <address class="contacts__address">
                    <ul class="contacts__address--list list">
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="contacts__item card-set__item">
                <p class="contacts__type--cafe">CAFE</p>
                <ul class="contacts__place list">
                    <li class="contacts__place--item">
                        <p class="contacts__city">New York</p>
                    </li>
                    <li class="contacts__place--item">
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts__week list">
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Monday - Friday</li>
                            <li class="contacts__scheduled--time">06:00 AM - 10:00 PM</li>
                        </ul>
                    </li>
                    <li class="contacts__week--item">
                        <ul class="contacts__scheduled list">
                            <li class="contacts__scheduled--day">Saturday - Sunday</li>
                            <li class="contacts__scheduled--time">08:00 AM - 16:00 PM</li>
                        </ul>
                    </li>
                </ul>
                <address class="contacts__address">
                    <ul class="contacts__address--list list">
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__address--item">
                            <a class="contacts__address--link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
        </ul>
    </div>
</section>