<section class="customer-reviews section" id="about">
  <div class="container customer-reviews__container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="single-item animate__animated animate__zoomIn">
      <div class="customer-reviews__box">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/img-1.png    1x,
              ./images/reviews/img-1@2x.png 2x
            "
            type="image/jpg"
          />

          <img
            class="customers-reviews__img"
            src="./images/reviews/img-1.png"
            alt="Фотография девушки Эмили"
            width="85"
            height="85"
          />
        </picture>
        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            The service is really great, and fast! Employees are always super
            friendly. Great place for ice cream and they have some food items
            which is good as well. 10/10 recommend
          </p>
        </div>
        <h3 class="customer-reviews__info">Emily, Los Angeles</h3>
      </div>

      <div class="customer-reviews__box">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/img-2.png    1x,
              ./images/reviews/img-2@2x.png 2x
            "
            type="image/jpg"
          />

          <img
            class="customers-reviews__img"
            src="./images/reviews/img-2.png"
            alt="Фотография девушки Эмили"
            width="85"
            height="85"
          />
        </picture>
        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            My husband loves this awesome ice cream and we drive 31 miles to get
            it and we will get it a lot staff a sweet (no pun intended) hahaha
            better than store bought anytime.
          </p>
        </div>
        <h3 class="customer-reviews__info">Jessica, Los Angeles</h3>
      </div>

      <div class="customer-reviews__box">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/reviews/img-3.png    1x,
              ./images/reviews/img-3@2x.png 2x
            "
            type="image/jpg"
          />

          <img
            class="customers-reviews__img"
            src="./images/reviews/img-3.png"
            alt="Фотография девушки Эмили"
            width="85"
            height="85"
          />
        </picture>
        <div class="customer-reviews__wrapper">
          <p class="customer-reviews__text">
            Wonderful and pleasant icecream shoppe! Great staff!! Very courteous
            and friendly! Thank you for your kindness. We got the best amount of
            ice cream for what we paid for.
          </p>
        </div>
        <h3 class="customer-reviews__info">Julia, Los Angeles</h3>
      </div>
    </div>
  </div>
</section>
