<footer class="section footer">
  <div class="container footer__container">
    <div class="footer__section">
      <div class="footer__btn">
        <button
          type="button"
          class="button btn-secondary button__footer-map"
          data-modal-open
        >
          Our Locations
          <svg class="btn__arow-white" width="9" height="16">
            <use href="./images/icons.svg#icon-aroww"></use>
          </svg>
        </button>
        <button
          type="button"
          class="button btn-primary button__footer-franchise"
        >
          Franchise
          <svg class="btn__arow-red" width="9" height="16">
            <use href="./images/icons.svg#icon-aroww-red"></use>
          </svg>
        </button>
      </div>

      <div class="footer-title">
        <div class="footer__title-div">
          <p class="footer__description section-subtitle">
            homemade ice cream made
          </p>
          <h2 class="footer__title section-title">with passion</h2>
        </div>

        <div class="footer_icon">
          <ul class="footer-socialmedia">
            <li class="futer-socialmedia-item list">
              <a
                class="footer-socialmedia-link link"
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="github"
              >
                <svg class="footer-socialmedia-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="futer-socialmedia-item list">
              <a
                class="footer-socialmedia-link link"
                href="https://web.telegram.org/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="insstagram"
              >
                <svg class="footer-socialmedia-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="futer-socialmedia-item list">
              <a
                class="footer-socialmedia-link link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="insstagram"
              >
                <svg class="footer-socialmedia-icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a class="footer_link-contact link" href="tel:+61(0)383766284"
            >Feel free to contact<span class="footer__phone"
              >+61 (0) 383 766 284</span
            ></a
          >
        </div>
      </div>
    </div>

    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="button-close" data-modal-close>
          <svg class="icon-close" width="18px" height="18px">
            <use href="./images/icons.svg#icon-close-modal"></use>
          </svg>
        </button>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7171.337438021609!2d-80.1477301066379!3d26.011667322635684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ab0b38185025%3A0x533921bb5f55e750!2z0KHQtdC90YLRgNCw0Lsg0JHQuNC30L3QtdGBINCU0LjRgdGC0YDQuNC60YIsINCl0L7Qu9C70LjQstGD0LQsINCk0LvQvtGA0LjQtNCwIDMzMDIwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1660158574177!5m2!1sru!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <p class="footer__copyright">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
