<section class="section gallery">
   <div class="gallery__container container">
      <div class="gallery__box-1 box">
         <a href="/src/images/gallery/img-1__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-1__desktop.webp 1x, ./images/gallery/img-1__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-1__desktop.jpg 1x, ./images/gallery/img-1__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-1__tablet.webp 1x, ./images/gallery/img-1__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-1__tablet.jpg 1x, ./images/gallery/img-1__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-1__mobile.webp 1x, ./images/gallery/img-1__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-1__mobile.jpg 1x, ./images/gallery/img-1__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-1__desktop.jpg" alt="Пломбір у тарілці" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-2 box">
         <a href="/src/images/gallery/img-2__desktop@2x.jpg">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-2__desktop.webp 1x, ./images/gallery/img-2__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-2__desktop.jpg 1x, ./images/gallery/img-2__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-2__tablet.webp 1x, ./images/gallery/img-2__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-2__tablet.jpg 1x, ./images/gallery/img-2__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-2__mobile.webp 1x, ./images/gallery/img-2__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-2__mobile.jpg 1x, ./images/gallery/img-2__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-2__desktop.jpg" alt="Морозиво у руці" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-3 box">
         <a href="/src/images/gallery/img-3__desktop@2x.jpg">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-3__desktop.webp 1x, ./images/gallery/img-3__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-3__desktop.jpg 1x, ./images/gallery/img-3__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-3__tablet.webp 1x, ./images/gallery/img-3__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-3__tablet.jpg 1x, ./images/gallery/img-3__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-3__mobile.webp 1x, ./images/gallery/img-3__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-3__mobile.jpg 1x, ./images/gallery/img-3__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-3__desktop.jpg" alt="Фруктове морозиво" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-4 box">
         <a href="/src/images/gallery/img-4__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-4__desktop.webp 1x, ./images/gallery/img-4__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-4__desktop.jpg 1x, ./images/gallery/img-4__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-4__tablet.webp 1x, ./images/gallery/img-4__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-4__tablet.jpg 1x, ./images/gallery/img-4__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-4__mobile.webp 1x, ./images/gallery/img-4__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-4__mobile.jpg 1x, ./images/gallery/img-4__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-4__desktop.jpg" alt="Ріжки морозива" width="283"
               height="283" />
         </picture></a>
      </div>
      <div class="gallery__box-5 box">
         <a href="/src/images/gallery/img-5__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-5__desktop.webp 1x, ./images/gallery/img-5__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-5__desktop.jpg 1x, ./images/gallery/img-5__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-5__tablet.webp 1x, ./images/gallery/img-5__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-5__tablet.jpg 1x, ./images/gallery/img-5__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-5__mobile.webp 1x, ./images/gallery/img-5__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-5__mobile.jpg 1x, ./images/gallery/img-5__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-5__desktop.jpg" alt="Дівчина їсть морозиво" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-6 box">
         <a href="/src/images/gallery/img-6__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-6__desktop.webp 1x, ./images/gallery/img-6__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-6__desktop.jpg 1x, ./images/gallery/img-6__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-6__tablet.webp 1x, ./images/gallery/img-6__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-6__tablet.jpg 1x, ./images/gallery/img-6__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-6__mobile.webp 1x, ./images/gallery/img-6__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-6__mobile.jpg 1x, ./images/gallery/img-6__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-6__desktop.jpg" alt="Морозиво у креманці" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-7 box">
         <a href="/src/images/gallery/img-7__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-7__desktop.webp 1x, ./images/gallery/img-7__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-7__desktop.jpg 1x, ./images/gallery/img-7__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-7__tablet.webp 1x, ./images/gallery/img-7__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-7__tablet.jpg 1x, ./images/gallery/img-7__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-7__mobile.webp 1x, ./images/gallery/img-7__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-7__mobile.jpg 1x, ./images/gallery/img-7__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-7__desktop.jpg" alt="Ріжок морозива на тлі вулиці"
               width="138" height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-8 box">
         <a href="/src/images/gallery/img-8__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-8__desktop.webp 1x, ./images/gallery/img-8__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-8__desktop.jpg 1x, ./images/gallery/img-8__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-8__tablet.webp 1x, ./images/gallery/img-8__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-8__tablet.jpg 1x, ./images/gallery/img-8__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-8__mobile.webp 1x, ./images/gallery/img-8__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-8__mobile.jpg 1x, ./images/gallery/img-8__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-8__desktop.jpg" alt="Собака їсть морозиво" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-9 box">
         <a href="/src/images/gallery/img-9__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-9__desktop.webp 1x, ./images/gallery/img-9__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-9__desktop.jpg 1x, ./images/gallery/img-9__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-9__tablet.webp 1x, ./images/gallery/img-9__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-9__tablet.jpg 1x, ./images/gallery/img-9__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-9__mobile.webp 1x, ./images/gallery/img-9__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-9__mobile.jpg 1x, ./images/gallery/img-9__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-9__desktop.jpg" alt="Мілк-шейк" width="138"
               height="138" />
         </picture></a>
      </div>
      <div class="gallery__box-10 box">
         <a href="/src/images/gallery/img-10__desktop@2x.webp">
         <picture>
            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-10__desktop.webp 1x, ./images/gallery/img-10__desktop@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 1200px)"
               srcset="./images/gallery/img-10__desktop.jpg 1x, ./images/gallery/img-10__desktop@2x.jpg 2x"
               type="image/jpg" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-10__tablet.webp 1x, ./images/gallery/img-10__tablet@2x.webp 2x"
               type="image/webp" />

            <source media="(min-width: 768px)"
               srcset="./images/gallery/img-10__tablet.jpg 1x, ./images/gallery/img-10__tablet@2x.jpg 2x"
               type="image/jpg" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-10__mobile.webp 1x, ./images/gallery/img-10__mobile@2x.webp 2x"
               type="image/webp" />

            <source media="(max-width: 767px)"
               srcset="./images/gallery/img-10__mobile.jpg 1x, ./images/gallery/img-10__mobile@2x.jpg 2x"
               type="image/jpg" />

            <img class="gallery__img" src="./images/gallery/img-10__desktop.jpg" alt="Тістечко з морозивом" width="138"
               height="138" />
         </picture></a>
      </div>
   </div>
</section>