<header>
  <a href="./index.html" class="logo">
    <svg>
      <!-- дописати шлях на іконку -->
    </svg>
  </a>
  <nav class="nav">
    <!-- перевірити ресети на посиланнях та списках -->
    <ul class="nav__list">
      <li class="nav__item nav__item--current">
        <a class="header__link" href="./index.html" aria-label="home"> Home</a>
      </li>
      <li class="nav__item">
        <a class="header__link" href=" " aria-label="about us"> About us</a>
      </li>
      <li class="nav__item">
        <a class="header__link" href="" aria-label="how it&#8217;s made?"
          >How it&#8217;s made?</a
        >
      </li>
      <li class="nav__item">
        <a class="header__link" href="" aria-label="our products"
          >Our products</a
        >
      </li>
      <li class="nav__item">
        <a class="header__link" href="" aria-label="contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <!-- Підібрати класи для кнопки -->
  <button type="button" class="btn-hero">Buy now</button>
</header>
