<section class="products section" id="products">
  <div class="container">
    <p class="product__label section-subtitle">100% natural</p>
    <h2 class="product__main-title section-title">products</h2>
    <ul class="product__list card-set list">
      <li class="product__item card-set__item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/ice-cream-1__desktop.png    1x,
              ./images/products/ice-cream-1__desktop@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/ice-cream-1__tablet.png    1x,
              ./images/products/ice-cream-1__tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/ice-cream-1__mobile.png    1x,
              ./images/products/ice-cream-1__mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="product__img"
            src="./images/products/ice-cream-1__mobile.png"
            alt="ice-cream"
          />
        </picture>
        <h2 class="product__title">ice cream</h2>
        <p class="product__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="product__link" aria-label="Link to card ice-scream">
          <svg class="product__arrow" width="7" height="7">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="product__item product__item--second card-set__item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/ice-cream-2__desktop.png    1x,
              ./images/products/ice-cream-2__desktop@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/ice-cream-2__tablet.png    1x,
              ./images/products/ice-cream-2__tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/ice-cream-2__mobile.png    1x,
              ./images/products/ice-cream-2__mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="product__img"
            src="./images/products/ice-cream-2__mobile.png"
            alt="ice-coffee"
          />
        </picture>
        <h2 class="product__title">ice cream</h2>
        <p class="product__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="product__link" aria-label="Link to card ice-scream">
          <svg class="product__arrow" width="7" height="7">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="product__item product__item--third card-set__item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products/ice-cream-3__desktop.png    1x,
              ./images/products/ice-cream-3__desktop@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products/ice-cream-3__tablet.png    1x,
              ./images/products/ice-cream-3__tablet@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/ice-cream-3__mobile.png    1x,
              ./images/products/ice-cream-3__mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="product__img"
            src="./images/products/ice-cream-3__mobile.png"
            alt="milkshakes"
          />
        </picture>
        <h2 class="product__title">ice cream</h2>
        <p class="product__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="product__link" aria-label="Link to card ice-scream">
          <svg class="product__arrow" width="7" height="7">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
