* {
  outline: solid 1px red;
}
.advantages {
  background-color: var(--secondary-bcg-color);
}

.advantages__list {
  @media screen and(min-width:768px) {
    display: flex;
  }
}

@media screen and(min-width:768px) and (max-width: 1199px) {
  .advantages__item {
    margin-left: 20px;
    max-height: 162px;
  }

  .advantages__item:first-child {
    margin-left: 0;
    max-height: 180px;
  }

  .advantages__item:last-child {
    margin-left: 30px;
    max-height: 159px;
  }
}

.advantages__item {
  @media screen and(min-width:768px) and(max-width:1199px) {
    max-width: 170px;
  }
}

@media screen and(min-width:1200px) {
  .advantages__item {
    max-width: 317px;
    margin-left: 115px;
  }

  .advantages__item:first-child {
    margin-left: 0;
    max-height: 288px;
  }

  .advantages__item:last-child {
    max-height: 288px;
    margin-left: 80px;
  }
}

.advantages__icon-milk::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/milk-logo.png);
  background-repeat: no-repeat;
  background-position: -8px 0;

  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 36px;
    background-position: -8px 0;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 40px;
    background-position: -8px 0;
  }
}

.advantages__icon-heart::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/heart-logo.png);
  background-repeat: no-repeat;
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 40px;
  }
}
.advantages__icon-apples::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/logo/apples-logo.png);
  background-repeat: no-repeat;
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 40px;
  }
}
.advantages__benefits-content {
  margin-bottom: 4px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
    text-transform: none;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.13;
    text-transform: none;
  }
}
.advantages__benefits-paragraph {
  margin-bottom: 32px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--secondary-text-color);

  &--margin-botton-zero {
    margin-bottom: 0;
  }

  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
