.contacts {
    background-image: linear-gradient(to bottom,
                var(--gallery-bcg-color) 26%,
                var(--secondary-bcg-color) 26%);

    @media screen and(min-width:768px) {
            background-image: linear-gradient(to bottom,
                        var(--gallery-bcg-color) 63%,
                        var(--secondary-bcg-color) 63%);
        }
    
        @media screen and(min-width:1200px) {
            background-image: linear-gradient(to bottom,
                        var(--gallery-bcg-color) 26%,
                        var(--secondary-bcg-color) 26%);
        }
}

.contacts.section {
    padding-bottom: 0;
}

.contacts .container {
@media screen and(min-width:768px) and(max-width:1199px) {
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
}
}

.contacts__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    --items: 1;

@media screen and(min-width:768px) {
    --items: 3;
    --indent: 32px;
}
}

.contacts__item {
    padding: 40px 32px;
    width: 280px;
    height: 412px;

    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

@media screen and(min-width:768px) and(max-width:1199px) {
    width: 224px;
    height: 528px;
}

@media screen and(min-width:1200px) {
    width: 368px;
    height: 538px;
    padding: 40px 40px;
}

}

.contacts__type--cafe {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 16px;
    font-size: 12px;
    line-height: 1.86;
    border-radius: 4px;
    background-color: #F0D1A5;
    margin-bottom: 20px;
    color: var(--primary-text-color);

@media screen and(min-width:768px) {
    font-size: 16px;
    height: 28px;
    display: inline-block;
    padding: 0 15px;
    border-radius: 6px;
    margin-bottom: 32px;
}

}

.contacts__type--ft {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 130px;
    height: 16px;
    font-size: 12px;
    line-height: 1.86;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #C2E297;
    color: var(--primary-text-color);

@media screen and(min-width:768px) {
    font-size: 16px;
    height: 28px;
    display: inline-block;
    padding: 0 15px;
    border-radius: 6px;
     margin-bottom: 32px;
}
}

.contacts__place {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;

@media screen and(min-width:768px) {
    padding-bottom: 32px;
    margin-bottom: 32px;
}
}

.contacts__city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--secondary-text-color);
    margin-bottom: 8px;

@media screen and(min-width:768px) {
    font-size: 14px;
}

@media screen and(min-width:1200px) {
    font-size: 16px;
}
}

.contacts__text {
    font-size: 12px;
    line-height: 1.8;
    color: var(--text-color);
    width: 185px;


@media screen and(min-width:768px) {
    font-size: 14px;
    width: 160px;
}

@media screen and(min-width:1200px) {
    font-size: 16px;
    width: 243px;
}
}

.contacts__week {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;

@media screen and(min-width:768px) {
    margin-bottom: 32px;
    padding-bottom: 32px;
    gap: 5px;
}
}

.contacts__scheduled {
    font-weight: 500;   
    font-size: 12px;
    line-height: 1.5;

@media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.86;
}

@media screen and(min-width:1200px) {
    font-size: 16px;
}

&--time {
    color: var(--secondary-accent-color);
}
}

.contacts__address--link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color);

@media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.8;
}

@media screen and(min-width:1200px) {
    font-size: 16px;
}
}

.contacts__address--list {
    display: flex;
    flex-direction: column;
    gap: 5px;

@media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.8;
    gap: 0;
}

@media screen and(min-width:1200px) {
    font-size: 16px;
}
}

.contacts__address--link:hover,
.contacts__address--link:focus {
    color: var(--secondary-btn-color);
}


@keyframes swivelChair {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.swivelChair {
    animation-name: swivelChair;
    animation-duration: 2s;
}