.customer-reviews {
    background-color: var(--primary-text-color);
}

.single-item {
    margin-left: 16px;
    margin-right: 16px;
}

.customers-reviews__img {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.customer-reviews__wrapper {
    background-color: #fafafa;
    padding: 30px 0 30px 0;

}

.customer-reviews__text::before {
    content: "";
    display: inline-block;
    width: 54px;
    height: 40px;
    margin-right: -8px;
    margin-left: -20px;
    margin-top: -20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/reviews/quotes.png');
}

.customer-reviews__text {
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    // height: 249;

    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 2.58;

    background: repeating-linear-gradient(#FAFAFA 0px, #FAFAFA 30px, #E1E1E1 30px, #E1E1E1 31px);

    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: #C7133E;
        cursor: pointer;
    }

}

.customer-reviews__info {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
}

.slick-dots {
    bottom: 35px;
}

.slick-dots li button:before {
    color: #C7133E;
}

.slick-dots li.slick-active button:before {
    color: #C7133E;
}

.customer-reviews__list {
    display: flex;
    justify-content: center;
}

.customer-reviews__item:not(:last-child) {
    margin-right: 18px;
}

.customer-reviews__item--home {
    fill: #D31342;
}

.customer-reviews__item--elipse {
    fill: #D9D9D9;
}

.slick-prev:before, .slick-next:before {
    color: #C7133E;
    opacity: 0;
}

#slick-slide-control00::after,
#slick-slide-control01::after,
#slick-slide-control02::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-bottom: -75px;
}

.slick-dots li.slick-active #slick-slide-control00::after,
.slick-dots li.slick-active #slick-slide-control01::after,
.slick-dots li.slick-active #slick-slide-control02::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: -75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/reviews/home.svg');
    background-color: #ffffff;
    border-radius: 0;
}

.slick-prev,
.slick-next,
.slick-arrow {
    display: none;
}

