.header__item {
    display: flex;
    align-items: center;
    padding-top: 37px;
}

.header__logo {
margin-right: 128px;
}


.nav {
    display: flex;
    margin-right: 141px;
    
    &__list {
    display: flex;
    align-items: center;
    }

    &__item {
    margin-right: 35px;
    font-weight: 700;
    
    }

    &__link {
    color: var(--primary-text-color);
    }

        &__link--current {
            color: var(--secondary-btn-color);
        }
}