.header {
    @media screen and (min-width: 320px) {
            max-width: 320px;
        }

    @media screen and (min-width: 768px) {
            max-width: 768px;
        }
    @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
}

.hero-header {
    position: relative;
    width: 100%;
    height: 502px;
    background-color: var(--hero-bcg-color);
    overflow: hidden;

    @media screen and (min-width: 768px) {
        height: 416px;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
    }
}

.header__nav {
    position: relative;
    z-index: 1000;
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 16px 0;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 37px;
    }
}

@media screen and (min-width: 1200px) {
    .header__logo {
        font-size: 26px;
        line-height: 1.19;
        padding: 25px 0;
        margin-right: 0;
    }
}

.header__btns {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 35px;
}

@media screen and (max-width: 1199px) {
    .header__list {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header__list {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .header__list {
        margin-left: 128px;
    }
}

.header__link {
    padding: 32px 0;

    font-weight: 700;
    color: var(--primary-text-color);
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}

.header__link--сurrent {
    padding: 32px 0;

    font-weight: 700;
    color: var(--accent-color);

}


//  logo link
.logo {
    font-family: "Raleway";
    font-weight: 700;
    color: var(--logo-color);
}

//  mobile menu

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;

    display: flex;

    align-items: center;

    justify-content: center;
    padding: 0;
    z-index: 1000;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    @media screen and (min-width: 768px) {
        margin-left: 293px;
    }
}

.mobile-menu-open {
    stroke: var(--accent-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-btn:hover .mobile-menu-open {
    stroke: #ffffff;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    color: var(--primary-text-color);
}

.mobile-menu-btn .mobile-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 1199px) {
    .mobile-menu-btn {
        display: none;
    }
}

.mobile-menu-btn.is-open .mobile-menu-open {
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
    top: 0;
    right: 0;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-menu-btn.is-open .mobile-menu-close {
    opacity: 1;
}

.mobile-menu {

    display: flex;

    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;

    height: 100%;

    transform: translateX(100%);


    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--menu-bcg-color);

    @media screen and (min-width: 320px) {
        width: 250px;
    }

    @media screen and (min-width: 768px) {
        width: 254px;
    }

    @media screen and (min-width: 1200px) {
        display: none;


    }
}



.mobile-menu.is-open {

    transform: translateX(0);
}

.mobile-menu-nav {
    margin-bottom: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-top: 20px;

}

@media screen and (min-width: 320px) {
    .mobile-menu-nav {

        line-height: 1.18;
    }
}

.mobile-menu-nav .current-nav {
    color: var(--accent-color);
}

.mobile-menu-nav-item {
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 1px solid #E18298;
}

.mobile-menu-nav-item:last-child {
    margin-bottom: 0;
}

.mobile-menu-nav-link {
    color: var(--primary-text-color);
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


// contact
.contact__nav {

    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .contact__nav {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact__nav {

        flex-direction: column;

        justify-content: center;
        gap: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .contact__nav {
        margin-left: auto;
        gap: 30px;
    }
}

.contact__nav__link {

    display: flex;

    align-items: center;
    padding: 32px 0;
    color: var(--primary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact__nav__link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        padding: 0;
    }
}

.contact__nav__icon {
    fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact__nav__icon {
        margin-right: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .contact__nav__icon {
        margin-right: 10px;
    }
}


.btn-header {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1199px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 141px;
    }
}

.btn-mobile-menu {
    margin-left: auto;
    margin-right: auto;

  

    @media screen and (min-width: 1200px) {
        display: none;
    }
}


// HERO

.hero-title {
    position: absolute;
    bottom: 40%;
    left: 5%;
    z-index: 6;
    width: 218px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    &__current {
        font-size: 48px;
        color: var(--accent-color);

        @media screen and (min-width: 768px){
            font-size: 34px;
            line-height: 0.88;
        }

        @media screen and (min-width: 1200px) {
            font-size: 58px;
            line-height: 0.91;
        }
    }

    @media screen and (min-width: 768px) {
        bottom: 53%;
        width: 162px;

        font-weight: 400;
        font-size: 22px;
        line-height: 1.13;
    }

    @media screen and (min-width: 1200px) {
        width: 277px;
        font-size: 38px;
        left: 2%;
    }
}

.hero__elipse::before {
    content: '';
    display: inline-block;
    position: absolute;

    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);

    @media screen and (max-width: 767px) {
        left: 9%;
    }

    @media screen and (min-width: 768px){
        width: 335px;
        height: 333px;
        right: 23%;
        top: 10%;
    }

    @media screen and (min-width: 900px) {
        width: 400px;
        height: 400px;
        right: 28%;
    }

    @media screen and (min-width: 1200px) {
        width: 534px;
        height: 534px;
        right: 14%;
        top: 11%;
    }
}

.hero__img {
    position: absolute;
    bottom: 0;
    left: 35%;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 143px;
        height: 336px;
        left: 42%;
    }

    @media screen and (min-width: 1200px) {
        width: 236px;
        height: 557px;
        left: 52%;
    }

}

.hero-btn {
    position: absolute;
    bottom: 31%;
    left: 5%;
    z-index: 5;
    display: flex;

    @media screen and (min-width: 768px) {
        bottom: 43%;
    }

    @media screen and (min-width: 1200px) {
        left: 2%;
    }
}

.hero-btn__products {
    margin-right: 8px;
}

.hero__snap {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 4%;
        left: 6%;
    }

    @media screen and (min-width: 1200px) {
        width: 213px;
        height: 216px;
        left: 2%
    }
}

.hero__descr {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 20%;
        left: 25%;
        z-index: 5;
        width: 121px;
        font-weight: 400;
        font-size: 7px;
        line-height: 1.5;
        color: var(--primary-text-color);
    }

    @media screen and (min-width: 1200px) {
        width: 200px;
        left: 19%;
        font-size: 14px;
        line-height: 1.42;
    }
}

.hero__wrap {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 13%;
        left: 25%;
        border-radius: 50%;
        background-color: var(--primary-text-color);
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: background-color 250ms linear, opacity 250ms linear;
            
            &:hover,
            &:focus {
                background-color: var(--accent-color);
                opacity: 0.8;
            }
    }

    @media screen and (min-width: 1200px) {
        left: 19%;
        width: 30px;
        height: 30px;
    }
}

.hero__arrow {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 31%;
        left: 28%;
        fill: var(--accent-color);
        transition: fill 250ms linear;
    }

    @media screen and (min-width: 1200px) {
        width: 15px;
        height: 15px;
        bottom: 28%;
    }
}

.hero__wrap:hover .hero__arrow {
    fill: var(--primary-text-color);
}

.hero-info {
    display: none;

    @media screen and (min-width: 560px) {
    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--primary-text-color);

    &__number {
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--accent-color);

        @media screen and (min-width: 1200px) {
            font-size: 46px;
            line-height: 1.15;
        }
    }

    &--cafes,
    &--trucks {
        position: absolute;
        right: 4%;
        z-index: 6;

    }
    
    &--cafes {
        top: 25%;
        right: 4%;

        @media screen and (min-width: 768px) {
            right: 5%;
        }

        @media screen and (min-width: 900px) {
            right: 4.5%;
        }

        @media screen and (min-width: 1200px) {
            right: 2%;
        }
    }
    
    &--trucks {
        top: 40%;
        right: 2%;

        @media screen and (min-width: 768px) {
            right: 3%;
        }

        @media screen and (min-width: 1200px) {
            right: 2%;
        }
    }

    }
}

.hero-info__number--16::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 69%;
    bottom: 74%;
    z-index: -1;
            
    width: 16px;
    height: 16px;
    text-align: right;
    border-radius: 50%;
    background-color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        width: 30px;
        height: 30px;
        bottom: 68%;
        left: 69%;
    }
}

.hero-info__number--23::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 56%;
    bottom: 75%;
    z-index: -1;

    width: 16px;
    height: 16px;
    text-align: right;
    border-radius: 50%;
    background-color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        width: 30px;
        height: 30px;
        left: 72%;
        bottom: 64%;
    }

}


.hero__pic {
    display: none;
    @media screen and (min-width: 560px) {
        display: block;
        position: absolute;
        right: 3%;
        bottom: 0;
        z-index: 5;
    }

    @media screen and (min-width: 768px) {
        right: 4%;
    }

    @media screen and (min-width: 1200px) {
        width: 304px;
        height: 241px;
        right: 2%;
    }
}

.side-nav__close-btn {
    fill: #fff;

    margin-left: auto;
    padding: 20px;
    display: block;

    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
        outline: none;
        fill: var(--secondary-btn-hover);
    }
}